body{
  background:lightgrey;
  margin: 60px;
}


#container{
	width:80vh;
	height:80vh;
	margin-top: 10px;

}

.title {
	font-family: 'Lemon', cursive;
	font-size: 35px;
	color: #fed8b1;
	  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #CC5500;
  margin-bottom: 8px;

}
  
.button {
  font-size: 30px;
  font-family: sans-serif;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
  margin-bottom: 5px;
}

img{
	position:absolute;
	width:20rem;
	height:20rem;
}

.sauce{
  font-size: 30px;
  font-family: sans-serif;
  border: 2px solid white;
  border-radius: 25px;
  background-color: black;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  max-width: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.sauce1{
	border:.1rem solid black;
	border-radius: 12px;
	height:50px;
	width:70px;
	background-color: #59a523;
	cursor: pointer;
	font-family: sans-serif;
	text-align: center;
	margin-left: 40px;
}

.sauce2{
	border:.1rem solid black;
	border-radius: 12px;
	height:50px;
	width:70px;
	background-color: #FDF06F;
	margin-top: 5px;
	margin-left: 40px;
	cursor: pointer;
	font-family: sans-serif;
	text-align: center;
}

.sauce3{
	border:.1rem solid black;
	border-radius: 12px;
	height:50px;
	width:70px;
	background-color: pink;
	margin-top: 5px;
	margin-left: 40px;
	cursor: pointer;
	font-family: sans-serif;
	text-align: center;
}

.sauce4{
	border:.1rem solid black;
	border-radius: 12px;
	height:50px;
	width:70px;
	background-color: #CC5500;
	margin-top: 5px;
	margin-left: 40px;
	cursor: pointer;
	font-family: sans-serif;
	text-align: center;
}

.sauce5{
	border:.1rem solid black;
	border-radius: 12px;
	height:50px;
	width:70px;
	background-color: #fed8b1;
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 5px;
	cursor: pointer;
	font-family: sans-serif;
	text-align: center;
}

.remove{
  font-size: 30px;
  font-family: sans-serif;
  border: 2px solid black;
  background-color: red;
    padding: 14px 28px;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  max-width: 100px;
  text-align: left;
  left: 40vh;
}

.count{
  font-size: 30px;
  font-family: sans-serif;
  border: 2px solid white;
  border-radius: 25px;
  background-color: black;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  max-width: 100px;
  text-align: center;
  margin-bottom: 10px;
}

